// COLOR PALETTE
$clr1: #7a7d85;
$clr3: #1dbf73;
$clr2: #ffbe5b;
$clr4: #ddd;
$clr5: #fff;
$clr6: #404145;
$clr7: #62646a;
$clr8: #19a463;
$clr9: #fafafa;
$clr10: #dadbdd;
$bgUserDetails: #f7f7f7;
$borderclr1: #ddd;
$textClr1:#62646a;
$borderclr1: #ddd;
// LAYOUT BREAKPOINTS
$break-narrow: 600px;
$break-normal: 900px;
$break-wide: 90vw;
$measurement: 0.125em;