.app-header {
    background-color: white;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid $clr4;
    z-index: 3;
    transition: 0.4s;
    .nav {
        user-select: none;
        color: #62646a;
        font-weight: 900;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            display: block;
            color: #62646a;
        }
        .logo {
            font-size: 1.8rem;
            color: #404145;
            font-weight: bold;
            letter-spacing: 0px;
            font-family: fjalla;
            transform: translateY(-2px);
            & span {
                color: green;
            }
        }
        .menu-items {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            .user-menu {
                position: relative;
                z-index: 4;
                .user-menu-icon {
                    background: none;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
                .floating-menu {
                    position: absolute;
                    top: 35px;
                    right: 0;
                    background-color: white;
                    box-shadow: 0 0 5px 1px #0000001f;
                    width: 206px;
                    border-radius: 4px;
                    padding: 5px 15px;
                    .floating-menu-items {
                        white-space: nowrap;
                        font-weight: 600;
                        text-decoration: none;
                        color: #7a7d85;
                        li {
                            padding: 5px 0;
                            a {
                                color: #7a7d85;
                                &:hover {
                                    color: #1dbf73;
                                }
                            }
                        }
                    }
                }
            }
            .backdrop {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
            }
        }
    }
}

.user-menu-img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.logo-search-bar {
    display: flex;
    align-items: center;
    gap: 2rem;
    & button {
        border-radius: 0 3px 3px 0;
        padding: 8px 16px;
        font-size: 14px;
        border: none;
        color: #fff;
        cursor: pointer;
        background: $clr3;
        font-weight: bold;
        transition: 0.2s;
        &:hover {
            background-color: $clr8;
        }
    }
    & input {
        width: 300px;
        line-height: 50px;
        border-radius: 3px 0 0 3px !important;
        font-family: inherit;
        font-size: 0.9rem;
        border-right: none;
        color: $clr1;
    }
}

.join-btn {
    border-radius: 4px;
    padding: 0.5rem 1.4rem;
    border: none;
    color: $clr3;
    cursor: pointer;
    border-color: $clr3;
    box-shadow: inset 0px 0px 0px 1px $clr3;
    background: none;
    font-weight: bold;
    transition: 0.2s;
    &:hover {
        background: $clr3;
        color: white;
    }
}