.app-header {
    background-color: white;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid $clr4;
    z-index: 3;
    transition: 0.4s;
    &.green.main-layout {
        background-color: #ffffff00;
        border: none;
        transition: 0.4s;
        & * {
            color: #fff;
        }
        & a {
            color: #fff;
        }
    }
    .nav {
        user-select: none;
        color: #62646a;
        font-weight: 900;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .num-of-new-orders-hamburger-container {
            display: none;
            position: absolute;
            top: 17px;
            left: 51px;
            @include for-mobile-layout {
                @media (max-width: $break-narrow) {
                    position: absolute;
                    display: block;
                }
            }
            .orders-notifications-hamburger {
                span {
                    color: white;
                }
            }
            div {
                height: 20px;
                width: 20px;
                background-color: rgb(245, 45, 45);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 1px solid white;
                font-size: 10px;
            }
        }
        .hamburger-menu {
            position: absolute;
        }
        .side-menu-container {
            position: absolute;
        }
        a {
            display: block;
            color: #62646a;
        }
        .side-menu-icon {
            display: none;
        }
        .logo {
            font-size: 1.8rem;
            color: #404145;
            font-weight: bold;
            letter-spacing: 0px;
            font-family: fjalla;
            transform: translateY(-2px);
            & span {
                color: $clr3;
                font-family: none;
                display: inline-block;
                transform: translateY(6px);
            }
        }
        .app-header-search-container {
            position: relative;
            input {
                padding-inline-start: 35px;
            }
            .app-header-search-icon {
                position: absolute;
                top: 8px;
                left: 6px;
                color: #7a7d85;
            }
        }
        .menu-items {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            height: 100%;
            a:hover {
                color: $clr3;
            }
            .user-menu {
                position: relative;
                z-index: 4;
                .user-menu-icon {
                    background: none;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    position: relative;
                    .num-of-new-orders-container {
                        position: absolute;
                        top: -9px;
                        left: 19px;
                        div {
                            height: 20px;
                            width: 20px;
                            background-color: rgb(245, 45, 45);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            border: 1px solid white;
                            color: white;
                            font-size: 10px;
                        }
                    }
                }
                .floating-menu {
                    position: absolute;
                    top: 35px;
                    right: 0;
                    background-color: white;
                    box-shadow: 0 0 5px 1px #0000001f;
                    width: 120px;
                    border-radius: 4px;
                    padding: 5px 15px;
                    .floating-menu-items {
                        white-space: nowrap;
                        font-weight: 600;
                        text-decoration: none;
                        color: #7a7d85;
                        li {
                            padding: 5px 0;
                            a {
                                color: #7a7d85;
                                &:hover {
                                    color: #1dbf73;
                                }
                            }
                        }
                    }
                }
            }
            .backdrop {
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
                &.with-black-opacity {
                    background-color: rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}

.user-menu-img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.logo-search-bar {
    display: flex;
    align-items: center;
    gap: 2rem;
    & button {
        border-radius: 0 3px 3px 0;
        padding: 8px 16px;
        font-size: 15px;
        border: none;
        color: #fff;
        cursor: pointer;
        background: $clr3;
        font-weight: bold;
        transition: 0.2s;
        height: 33px;
        &:hover {
            background-color: #19a463;
        }
    }
    & input {
        width: 300px;
        line-height: 50px;
        border-radius: 3px 0 0 3px !important;
        font-family: inherit;
        font-size: 0.9rem;
        border-right: none;
        color: $clr1;
        
    }
}

.join-btn {
    border-radius: 4px;
    padding: 0.5rem 1.4rem;
    border: none;
    color: $clr3;
    cursor: pointer;
    border-color: $clr3;
    box-shadow: inset 0px 0px 0px 1px $clr3;
    background: none;
    font-weight: bold;
    transition: 0.2s;
    &:hover {
        background: $clr3;
        color: white;
    }
}

@media screen and (max-width: 800px) {
    .app-header {
        &.green.main-layout {
            background-color: white;
            border: none;
            transition: 0.4s;
            & * {
                color: #62646a;
            }
            & a {
                color: #62646a;
            }
        }
        .nav {
            .hamburger-menu {
                position: static;
            }
            .side-menu-container {
                position: static;
            }
            .menu-items {
                &.logged {
                    position: absolute;
                }
            }
            .side-menu-icon {
                display: block;
                font-size: 29px;
                color: #404145;
            }
        }
        .menu-items {
            .hide-from-nav {
                display: none;
            }
            .join-btn {
                font-size: 15px;
            }
        }
        .app-header-search-container {
            display: none;
        }
        .join-btn {
            border-color: white;
            box-shadow: none;
            color: #62646a;
            font-size: 17px;
            &:hover {
                background: white;
                color: #95979d;
            }
        }
    }
}