.footer {
    border-top: 1px solid $clr4;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    height: 4rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    & h4 {
        color: $clr4;
    }
    & h1 {
        color: $clr7;
        font-weight: bolder;
        letter-spacing: 0px;
            font-family: fjalla;
    }
}