.pagging-btns {
    margin: 30px 0;
    button {
        border: none;
        font-weight: bold;
        cursor: pointer;
        background-color: #fff;
    }
}

.removeBtn {
    visibility: hidden;
}

.page {
    font-family: macan-regular;
    font-weight: bold;
    font-size: 18px;
    color: $clr1;
}

.main-page {
    color: $clr3;
}

.prev-btn {
    font-family: macan-regular;
    font-weight: bold;
    font-size: 18px;
    color: $clr1;
}

.next-btn {
    font-family: macan-regular;
    font-weight: bold;
    font-size: 18px;
    color: $clr1;
}