.gig-overview-contanier {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.seller-details {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    & img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        object-fit: cover;
    }
    & a {
        font-weight: bolder;
    }
}

.overview-rate {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    & span {
        font-size: 1.2rem;
    }
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}