.gig-nav{
    &>* {
        margin-right: 0.8rem;
    }
}

.gig-overview-contanier {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.order-details {
    position: sticky;
    top: 50%;
    transform: translateY(-30%);
    max-width: 350px;
    max-height: 500px;
}

.order-card {
    color: $clr1;
    border: 1px solid $clr4;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    padding: 1rem;

    & h1 {
        align-self: center;
        border-bottom: 1px solid $clr4;
    }
}

.star-img {
    width: 0.8rem;
}

.review-star-img {
    width: 1.2rem;
}

.reviews-title {
    display: inline;
    margin-right: 0.5rem;
}

.reviews-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.review-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.review-rate {
    color: #e3c51b;
}

.user-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.review-add {
    border: 1px solid $clr4;
    padding: 1rem;
    margin: 0.5rem;
}

.review-li {
    border-top: 1px solid $clr4;
    padding-top: 1rem;
}