.gig-crad {
    color: black;
}

.card-details {
    padding: 10px;
}

.card-title {
    height: 50px;
    margin: 10px 0;
    text-overflow: clip;
    &:hover {
        color: $clr3;
    }
}

.rate-count {
    color: rgba(128, 128, 128, 0.507);
}

.star-img {
    color: #ffbe5b;
}

.user-card-title {
    align-items: center;
    // font-family: macan-light;
    font-size: 00.9rem;
    p {
        padding-left: 10px;
        &:hover {
            text-decoration: underline;
        }
    }
}

.gig-card-price {
    color: $clr1;
    font-weight: bold;
}

.rate-score {
    color: #ffbe5b;
    font-weight: 600;
}

.heart-icon {
    color: #62646a;
    cursor: pointer;
}

.red {
    color: red;
}

.actions {
    border-top: 1px solid rgba(128, 128, 128, 0.295);
    padding: 10px;
}