
.gig-details {
    margin: 0 4rem;

}

.gig-nav {
    border-bottom: 1px solid $clr4;
    position: sticky;
    top: 0.1rem;
    background-color: #fff;
    padding: 0.5rem;
    z-index: 3;
}
.gig-nav-a{
    margin-right: 0.8rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: $clr1;
   
    &:hover {
        color: $clr7;
    }

    &:after {
        color: $clr6;
    }
}

.gig-info {
    
    &>* {
        margin-bottom: 2rem;
        max-width: 750px;
    }
}

.order-details {
    position: sticky;
    top: 50%;
    transform: translateY(-45%);
    max-width: 300px;
    max-height: 500px;
}

.star-img {
    width: 0.8rem;
}

 

