.img-upload{
    cursor: pointer;
}

.info-container{
    
    display: flex;
    gap: 10px;
    span{
        display: contents;
        color: #898989;
    }
    input{
        width: 55px;
        color: #898989;
    }
}

.tags-labels-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 148px);
    font-size: 13px;
    gap: 12px;

    @include for-mobile-layout {
        @media (max-width: $break-narrow) {
            font-size: 13px;
            display: flex;
            flex-direction: column;
            gap: 9px;
        }
    }
    

    .tag-checkbox-label{
        display: flex;
        align-items: center;
    }
}

.gig-images-edit-container{
    border-bottom: 1px solid #c4c4c4db;
    padding-bottom: 20px;
    width: 100%;
}

.gig-images-edit-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.gig-edit-imgs-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(204px, 1fr));
    gap: 23px;
    justify-items: center;
    align-items: center;

  

    .gig-edit-img-card{
        border: 1px solid #ddd;
        flex: 1;
        position: relative;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        width: 227px;
        height: 250px;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
                
        }

        label{
            height: 100%;
        }

        .gig-edit-img-trash-icon{
            margin-bottom: 10px;
            cursor: pointer;
        }

        .gig-edit-img-upload{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 47px;
            cursor: pointer;

            &:hover{
                color: lightgray;
            }
        }

        .gig-edit-limit-img-title{
            padding-top: 100px;
            font-weight: 900;
        }
    }
}




// border: 1px solid #ddd;