.gig-crad {
    color: black;
}

.card-details {
    padding: 7px;
}

.card-title {
    height: 50px;
    font-weight: 600;
    &:hover {
        color: $clr3;
    }
}

.rate-count {
    color: $clr1;
}

.user-card-title {
    align-items: center;
    p {
        padding-left: 10px;
    }
}

.gig-card-price {
    color: $clr1;
    font-weight: bold;
}

.rate-score {
    color: #ffd337;
    font-weight: 600;
}

.heart-icon {
    color: #62646a;
    cursor: pointer;
}

.red {
    color: red;
}

.actions {
    border-top: 1px solid rgba(128, 128, 128, 0.295);
    padding: 7px;
}