.filter {
    display: flex;
    gap: 5px;
    margin: 30px 0;
    @include for-mobile-layout {
        @media (max-width: $break-narrow) {
            flex-direction: column;
            margin: 20px 0;
            gap: 10px;
        }
    }
}

.filter-btns {
    @include for-mobile-layout {
        @media (max-width: $break-narrow) {
            display: flex;
            justify-content: space-evenly;
        }
    }
}