.hero {
    background-color: #003B17;
    height: 650px;
    padding-top: 12rem;
    padding-inline-start: 5rem;
    padding-inline-end: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    & h1 {
        color: #fff;
        font-size: 3rem;
        line-height: 3.5rem;
        margin-bottom: 1rem;
        & span {
            font-family: domaine;
            font-weight: normal;
        }
    }
    & img {
        height: 600px;
        width: 600px;
        align-self: flex-end;
    }
    & button {
        height: 50px;
        width: 100px;
        border-radius: 0 5px 5px 0;
        padding: 9px 15px;
        border: none;
        color: #fff;
        cursor: pointer;
        background: $clr3;
        font-weight: bold;
        transition: 0.2s;
        font-size: 1.2rem;
        &:hover {
            background-color: $clr8;
        }
    }
}

.home-page-search-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;

    .home-page-search-icon{
        position: absolute;
        top: 16px;
        left: 12px;
    }
}

.hero-searchbar {
    padding: 0;
    width: 550px;
    height: 50px !important;
    line-height: 50px;
    border-radius: 5px 0 0 5px !important;
    font-family: inherit;
    font-size: 1.2rem;
    transform: translate(1px, -2.1%);
    padding-inline-start: 36px;
}

.top-gigs {
    margin-bottom: 5rem;
    & h1 {
        font-weight: bold;
    }
}

.category-icon {
    fill: #6e6a6a;
}

.category {
    margin-right: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    &:hover {
        .category-icon {
            fill: $clr3;
            // transition: 0.3s;
        }
        p {
            // box-shadow: 0px 4px 0px 0px $clr3;
            // transition: 0.3s;
            font-weight: bold;
            color: $clr3;
        }
    }
}

.categories-icons {
    // flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.categories-container {
    margin: 30px 0;
    h2 {
        margin-bottom: 50px;
        font-size: 35px;
        font-weight: bold;
    }
}