.menu-content-modal-body{
    margin: 0;
    border: 1px solid black;
    display: inline-block;
    width: 100px;

    background-color: #ffffff;
    position: relative;
    width: 600px;
    border-radius: 5px;
    z-index: 2;

}

.menu-position-try{
    top: 10px;
}
