
.edit-modal-body{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #c4c4c4db;
    padding-bottom: 20px;
    
    .circle-check-icon{
        flex: 1;
        height: 80px;
            width: 80px;
            background-color: $clr3;
            border-radius: 50%;
            color: white;
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 80px;
    }

    .order-confirm-modal-content{
        flex: 1;
        color: #636363;
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-width: 290px;
        
    }
}

