.sort-modal {
    font-family: macan-regular;
    transition: 1s;
    .tags-buttons-container {
        // display: none;
    }
    .sort-container {
        gap: 20px
    }
    top: 143px;
    left: 80.3%;
    width: 200px;
    position: absolute;
    .modal__footer {
        justify-content: inherit;
    }
}

.sort-btn {
    border: none;
    background-color: #fff;
    border-radius: 5px;
    font-family: macan-regular;
    font-weight: bolder;
    color: #222325;
    cursor: pointer;
    padding: 10px;
    span.arrow {
        margin-left: 5px;
        transition: all 0.7s ease;
        display: inline-block;
        transform: rotate(90deg);
        width: 10px;
    }
    span.arrow.open {
        transform: rotate(270deg);
    }
}

.high-to-low {
    cursor: pointer;
}

.low-to-high {
    cursor: pointer;
}

#high-to-low {
    display: none;
}

#low-to-high {
    display: none;
}

.clicked {
    color: $clr3;
}

span.sort-By {
    color: $clr1;
    font-weight: lighter;
}