.hero {
    height: 650px;
    padding-top: 12rem;
    // justify-content: space-between;
    margin-bottom: 5rem;
    transition: 2s;
    .hero-content-container{
        display: flex;
        & h1 {
            // transform: translateY(50px);
            color: #fff;
            font-size: 3rem;
            font-weight: 700;
            line-height: 3.5rem;
            margin-bottom: 1rem;
            & span {
                font-family: domaine;
                font-weight: normal;
            }
        }
    }
}

.hero-img-container {
    width: 100%;
    position: relative;
    flex: 1;
    height: 600px;
    top: -142px;
    & img {
        position: absolute;
        width: 100%;
        height: 100%;
        display: inline;
        align-self: flex-end;
        transition: 1s;
        object-fit: contain;
        object-position: bottom;
        opacity: 0;
    }
    & h6 {
        position: absolute;
        bottom: 10px;
        right: 50px;
        color: #fff;
        font-size: 1rem;
        opacity: 0;
    }
}


.home-page-search-container {
    overflow: hidden;
    grid-template-columns: 1fr auto;
    position:relative;
    display: inline-grid;
    justify-content: center;
    // transform: translateY(60px);
    align-items: center;
    flex: 1;
    width: 100%;
    .home-page-search-icon {
        position: absolute;
        top: 16px;
        left: 12px;
    }
    input{
        padding-inline-start: 35px;
        border: none;
        &::placeholder {
            color: #9597A3;
            font-size: 1rem;
        }
    }
    button{
        position: absolute;
        right: 0;
        top: -0.5px;
            height: 50px;
            width: 100px;
            border-radius: 0 5px 5px 0;
            padding: 15px 15px;
            border: none;
            color: #fff;
            cursor: pointer;
            background: $clr3;
            font-weight: bold;
            transition: 0.2s;
            font-size: 1.2rem;
            &:hover {
                background-color: $clr8;
            }
    }

    .hero-searchbar {
        padding: 0;
        width: 550px;
        height: 50px ;
        line-height: 50px;
        border-radius: 5px 0 0 5px;
        font-family: inherit;
        font-size: 1.2rem;
        transform: translate(1px, -1.6%);
        padding-inline-start: 2rem;
    }
}


.popular-searches {
    display: flex;
    padding-top: 24px;
    & span {
        color: #fff;
        font-weight: bold;
    }
    & button {
        font-size: 0.9rem;
        cursor: pointer;
        background-color: transparent;
        line-height: 24px;
        font-weight: 600;
        color: #fff;
        padding: 1px 12px 0;
        border: 1px solid #fff;
        border-radius: 40px;
        transition: all .2s ease-in-out;
        z-index: 4;
        margin-left: 12px;
        &:hover {
            background-color: #fff;
            color: #404145;
            text-decoration: none;
        }
    }
}


@media screen and (max-width: 1100px) {
    .hero{
        .hero-content-container{
            justify-content: center;
            .hero-img-container {
              display: none;
            }
            .popular-searches{
                display: none;
            }
        }
    }

}

@include for-mobile-layout {
    @media (max-width: $break-narrow) {

    }
}


@include for-mobile-layout {
    @media (max-width: $break-narrow) {

    }
}

@include for-mobile-layout {
    @media (max-width: $break-narrow) {
        .hero{
            padding-inline-start: 0;
            padding-inline-end: 0;
            justify-content: center;
            padding-top: 9rem;
            padding-bottom: 5rem;
            height: inherit;
            margin-bottom: 2rem;
            background-color: rgb(0, 59, 23) !important;
            .hero-content-container{
                display: block;
                width: 100%;
                
                h1{
                    font-size: 2rem;
                    line-height: 40px;
                }
                .home-page-search-container{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    gap: 18px;
                    border-radius: none;
            
                    input{
                        width: 100%;
                        border-radius: 4px;
                    }
                    button{
                    position:initial; 
                     border-radius: 4px; 
                    width: 100%;
                    }
                }
            }
        }
        
        .popular-searches{
            display: none;
        }
    }
  }
// @media screen and (max-width: 800px) {
    
// }

.top-gigs {
    margin-bottom: 5rem;
    & h2 {
        font-weight: bold;
        font-size: 35px;
    }
}

.category-icon {
    fill: #6e6a6a;
}

.category {
    margin-right: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    &:hover {
        .category-icon {
            fill: $clr3;
            // transition: 0.3s;
        }
        p {
            // box-shadow: 0px 4px 0px 0px $clr3;
            // transition: 0.3s;
            font-weight: bold;
            color: $clr3;
        }
    }
}

.categories-icons {
    // flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.categories-container {
    margin: 30px 0;
    h2 {
        margin-bottom: 50px;
        font-size: 35px;
        font-weight: bold;
    }
}

